body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}
img{

    width:300px;
    height:400px;
}